<div class="container">
	<div class="row">
		<h2>Ad Request</h2>
		<div class="col s12">
			<input type="text" ng-model="title" placeholder="Ad Title" />
		</div>
		<div class="col s12">
			<input type="text" ng-model="description" placeholder="Ad Information" />
		</div>
		<div class="col s12">
			<input type="text" ng-model="companyName" placeholder="Company Name" />
		</div>
	<div class="row">
		<button class="btn waves-effect waves-light" ng-click="adRequest()">Request</button>
		<p class="red-text" ng-bind="error"></p>
	</div>
</div>