<html>
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    </head>

        <body>
    <form action="/charge" method="POST">
    <h4 class="card-title">Buy Product</h4>

  <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key = "pk_test_pHzr4c8hzaVKOLQj2WttTd8y"
    data-name = "Pay for the products in your shopping cart"
    data-description = "Checking out to pay for the desired products"
    data-locale = "auto"
    data-currency = "usd"
    >

    </script>
  </div>
</div>

 
    </form>

    </body>
</html>
