<div class="container">
<div class="col-md-8 col-sm-8">
	 <input type="text" class="form-control" name="CVV" placeholder="enter product name" ng-model="productName" ng-required='true' ng-minlength='3' >
     <button class="btn waves-effect waves-light" ng-click="addProduct(productName)">add product</button>
     <h6>{{msg.data}}</h6>
</div>
<div class="col-md-8 col-sm-8">
	 <input type="text" class="form-control" name="CVV" placeholder="enter company name" ng-model="companyName" ng-required='true' ng-minlength='3' >
     <button class="btn waves-effect waves-light" ng-click="acceptBusiness(companyName)">accept business</button>
     <h6>{{msg.data}}</h6>
</div>
<div class="col-md-8 col-sm-8">
	 <input type="text" class="form-control" name="CVV" placeholder="enter ad title" ng-model="title" ng-required='true' ng-minlength='3' >
     <button class="btn waves-effect waves-light" ng-click="displayAd(title)">display ad</button>
     <button class="btn waves-effect waves-light" ng-click="deleteAd(title)">delete ad</button>
     <h6>{{msg.data}}</h6>
</div>
<div class="col-md-8 col-sm-8">
	 <input type="text" class="form-control" name="CVV" placeholder="enter plan name" ng-model="planName" ng-required='true' ng-minlength='3' >
     <button class="btn waves-effect waves-light" ng-click="acceptPlan(productName)">add plan</button>
     <h6>{{msg.data}}</h6>
</div>

</div>