<div class="container">
<div ng-repeat="a in ad">
    <h2>{{a.title}}</h2>
    <button ng-click="displayAd(a)">display ad</button>
</div>
<div ng-repeat="p in product">
    <h2>{{p.productName}}</h2>
    <button ng-click="addProduct(p)">add product</button>
</div>
<div ng-repeat="s in subscription">
    <h2>{{s.planName}}</h2>
    <button ng-click="acceptPlan(s)">accept plan</button>
</div>
<div ng-repeat="b in business">
    <h2>{{b.companyName}}</h2>
    <button ng-click="acceptBusiness(b)">accept business</button>
</div>
</div>