<div class="container"><img src="https://0.s3.envato.com/files/35091703/collection-fitness.jpg"></div>
    </div>
    
    <h1>Awesome Product</h1>
    <h2>Offers, sales, discount all the time.</h2>
    <a href="#" class="btn btn-transparent">Get all you need!</a>
  </div>
</header>
<script type="text/javascript" src="controllers/div.js"></script>

<section class="">
  <div class="container">
    <div class="col-3 text--center">
      <img src="http://www.montgomeryschoolsmd.org/uploadedImages/schools/magruderhs/mediacenter/nutritionfitness.jpg" alt="" class="details-img--ball"/>
    </div>
    <div class="col-7 details">
      <h3>Product is so awesome.</h3>
      
    </div>
  </div>
  
  <div ng-repeat="p in Product">
  <h3>({p.productName})</h3>
  <button ng-click="viewProductDetails(p)" />
  </div>
  <div ng-repeat="p in Product">
  <h3>({p.description})</h3>
  <button ng-click="viewProductDetails(p)" />
  </div>
  <div ng-repeat="p in Product">
  <h3>({p.price})</h3>
  <button ng-click="viewProductDetails(p)" />
  </div>
  <div ng-repeat="p in Product">
  <h3>({p.picture})</h3>
  <button ng-click="viewProductDetails(p)" />
  </div>



</section>

<section class="section--primary">
  <div class="container">
    <div class="col-3 features">
      <i class="fa fa-bolt"></i>
      <p>
          Live a healthy life! Get our new products!
      </p>
    </div>
    <div class="col-3 features">
      <i class="fa fa-bank"></i>
      <p>
        Product so great. Makes you even greater !  
      </p>
    </div>
    <div class="col-3 features">
      <i class="fa fa-heart"></i>
      <p>
        Buy now! And stay Fit and Healthy 
      </p>
    </div>
  </div>
</section>

<section class="section--primary--alt">
  <div class="container">
    <h3>Take Product with you everywhere you go.</h3>
    <p>Product is all you need.</p>
  </div>
</section>

<section class="section--primary--light">
  <div class="container">
    <blockquote class="testimonial">
      <p>Love product. So nice! So good! Could not live without!</p>
      <cite>
        Satisfied Customer
      </cite>
    </blockquote>
  </div>
</section>



  <div class="container text--center">
    <h3>Reasons to buy this product:</h3>
    <div class="col-5 text--left">
      <ul>
        <li>Its the best</li>
        <li>Its awesome</li>
        <li>It makes you happy</li>
        <li>It brings world peace</li>
        <li>Its free!</li>
      </ul>
    </div>
    <div class="col-5 text--left">
      <ul>
        <li>Its the best</li>
        <li>Its awesome</li>
        <li>It makes you happy</li>
        <li>It brings world peace</li>
        <li>Its free!</li>
      </ul>
    </div>
  </div>
</section>

<section class="text--center">
  <div class="container">
    <h3>Why you still reading?</h3>
    <a href="#" class="btn">Order yours now!</a>
  </div>
</section>

<footer>
  <div class="container">
    <ul>
      <li><a href="#">Impressum</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Mainpage</a></li>
    </ul>
  </div>
</footer>
 


    </div>


<div class="container">
<div ng-repeat="products in arr">
	<h5>product: {{products.productName}}</h5>
	<h5>description: {{products.description}}</h5>
	<button ng-click="rate(product)">rate</button>
	<button ng-click="addToCart(product)">add</button>
</div>
</div>

