<div class="container">
	<div class="row">
		<h2>Register</h2>
		<div class="col s12">
			<input type="text" ng-model="userName" placeholder="Username" />
		</div>
		<div class="col s6">
			<input type="password" ng-model="password" placeholder="password" />
		</div>
		<div class="col s6">
			<input type="password" ng-model="confirmPassword" placeholder="confirm password" />
		</div>
		<div class="col s6">
			<input type="text" ng-model="firstName" placeholder="first name" />
		</div>
		<div class="col s6">
			<input type="text" ng-model="lastName" placeholder="last name" />
		</div>
		<div class="col s6">
			<input type="email" ng-model="email" placeholder="email <example@abc.com>" />
		</div>
	</div>
	<div class="row">
		<button class="btn waves-effect waves-light" ng-click="register()">Submit</button>
		<p class="red-text" ng-bind="error"></p>
	</div>
</div>