<div class="container">
	<div class="row">
		<h3>Results</h3>
	</div>
	<div class="highlight">
	<table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Item Name</th>
              <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>{{product.productName}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
          </tr>
          <tr>
            <td>{{business.companyName}}</td>
            <td>{{business.description}}</td>
            <td>{{business.email}}</td>
          </tr>
          <tr>
            <td>{{user.userName}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.email}}</td>
          </tr>
        </tbody>
      </table>
	</div>
	</div>