<html>
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    </head>

        <body>
    <form action="/charge" method="POST">
     
    <h1 class="card-title"> Subscribe </h1>
  <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key = "pk_test_Ht7Acnje5AXE7CEotAtzy8iO"
    data-name = "subscribe"
    data-description = "subscribe to add products"
    data-locale = "auto"
    data-currency = "usd"
    >

    </script>
  </div>
</div>

    </form>

    </body>
</html>




